.lessonContent {
  width: 230px;
  height: 38px;
  color: #4c4b7b;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.lessonContent:hover {
  cursor: pointer;
}

.selected {
  background: #a3a2ef;
  border-radius: 0 30px 30px 0;
}
