.container {
  width: 574px;
  height: 801px;
  border-radius: 15px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 94px;
  height: 94px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > input {
  width: 300px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(10, 130, 0, 0.05);
  padding: 5px 16px;
  border: 0.1px solid silver;
  outline: 0;
}
