.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #635ffa;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #4c4b7b;
}

.startQuizContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: 160px;
}

.startQuizBtn {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  width: 240px;
  height: 48px;
  border-radius: 8px;
  padding: 15px 56px;
  background: linear-gradient(90deg, #AB70F1 2.6%, #635FFA 47.4%, #4AB9E7 100%);
  border: none;
  display: flex;
  justify-content: center;
}

.startQuizBtn:hover,
.startQuizBtn:active {
  background: white;
  color: #40A9FF;
  border: 1px solid #40A9FF;
  cursor: pointer;
}

.questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #635ffa;
  height: 100%;
}

.questionNavigate {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  width: 370px;
  height: 48px;
  justify-content: flex-end;
  width: 80%;
}

.backBtn {
  background: #635ffa;
  border: none;
  width: 185px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.nextBtn {
  background: white;
  border: none;
  width: 185px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #635ffa;
  cursor: pointer;
}
