.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #635ffa;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  min-height: 50px;
}
