.container {
  margin: 0;
}

.header {
  display: flex;
  background: #635FFA;
  height: 150px;
  border-radius: 0px 0px 15px 15px;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.organizationsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.organizationContainer {
  display: flex;
  margin: 16px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.organizationAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: silver;
  object-fit: cover;
}

.organizationName {
  color: #4c4b7b;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.organizationMemberCount {
  color: #a2a1bd;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}

.scaleDown {
  object-fit: scale-down;
}
