.lessonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lessonPreview {
  height: 316px;
  width: 100%;
  object-fit: fill;
}

.lessonTitle {
  color: #4c4b7b;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.lessonDescription {
  color: #4c4b7b;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.noLessonPreview {
  object-fit: none;
  background: silver;
}

.blockContainer {
  margin: 4px;
}
